html, body{
    margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}
.header{
    padding: 0 auto;

}
.nav-menu{
    list-style: none;
    margin: 25px auto;
    max-width: 500px;
    padding-left: 0;
    align-self: center; 
    text-align: center;  

}
.nav-menu_item{
    display: inline-block;
    width: calc(20% - 4px);
   
}
.nav-menu_link{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 970px;
    margin: 0 auto;
}
.nav-menu_item.active .nav-menu_link {
  color: black;
}
.nav-menu_link{
    text-decoration: none;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
}
.nav-menu_link:hover {
  font-weight: 700;
}
.main img{
    height: 390px;
}
.aboutMe{
    text-align: center;
 background-color: #F6F6F6;

}
.aboutMe .container{

  padding: 100px 0;
}


.my_info{
    max-width: 480px;
margin: 0 auto;   
}
.my_info:not(:last-child){
    margin-bottom: 30px;

}
.skills{
    text-align: center;
}
.skills h3{
    font-weight: 400;
}
.programms{
    display: flex;
justify-content: center;
align-items: flex-start;
gap: 97px;
    list-style: none;
padding-left: 0;
margin-top: 50px;
}
.programms_names{
     text-align: center; 
     width:170px;
  display: flex;               
  flex-direction: column;      
  align-items: center;         
  height: 230px;              
}

.programms_names img {
  width: 80px;                 
  height: 80px;                
  margin-bottom: 25px;        
}
.programms_names figcaption{
    color: #828282;
}
.programms_names figure{
      min-height: 140px;           

}
.chart {
  margin-top: auto;            
  display: flex;              
  gap: 6px;                    
}
.chart img{
    justify-content: center;
    width:26px;
    height: 26px;
}



